
footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 10px;
    height: 25px;
}

h1 {
    font-size: 50px;
	text-align: center;
}

.main-menu-container {
    background: blue;
    text-align: center;
    margin-bottom: 120px;
	
	
}

.main-menu {
    list-style: none;
    padding: 0;	
	margin: 0 auto;
	border-bottom: 8px solid #68d2c3;
	
}

.company-image {
	float: right;	
}

.main-menu-item {
    display: inline-block;
    padding: 20px 10px;
    background-color: white;
    color: white;
	position: relative;
	list-style: none;
}

.main-menu-item:hover {
	background-color: white;
}



main-menu-item:hover > .submenu {
/*	a submenu akkor jelenik meg ha a main-menu-item-re hoverezünk */
	visibility: visible;
	opacity: 1;
	background-color: rgba(41,47,48, .2)


}

.submenu {
	list-style: none;
	padding: 0;
	margin: 0;
/*	a submenu pozicióját a document flow-tol függetlenül állitjuk ezért kell a position absolut */
	position: relative;
	top: 60px;
	left: 0;
/*	alap esetben a submenu nem látszik */
	visibility: hidden;

}


/*background color: rgba(41, 47, 48, .7);*/


